
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
  <img src="<%= profile_medium %>" alt="<%= firstname %>'s profile picture">
  <p> Name: <%= firstname %> <%= lastname %></p>
  <p> Location: <%= city %>, <%= state %></p>
  
</body>
</html>